footer.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    text-align: center;
    padding: 1rem 0;
    border-top: 1px solid #eaeaea;
    background: white;
    z-index: 10;
    color: black;
}
